@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");

.gbbg
{
    background-color:#f8f7f2;
    height: 100%;
}
.popheader{
    font-size:18px;
    font-family: "Montserrat";
    font-weight: bold;
}
.gbpopover{
    font-size: 15px;
    width: 200px;
    height: 150px;
    font-family: "Montserrat";
    background-color: #A6BB8D;
    /* border-radius: 50px; */
}
.gbpopover strong{
    color: black;
}
.welcome h2{
    padding-top: 30px;
    margin-left: 20px;
    font-size: 35px;
    font-family: "Montserrat";
    color: #676b57;
}
.hidden
{
    display: none;
}
.togo
{
    background-color: #A6BB8D;
    border-radius: 0;
   width: 20%;
}
.togo:hover
{
    background-color: #557153;
}
.none
{
    background-color: #A6BB8D;
    border-radius:0 ;
}
.none:hover
{
    background-color:  #CF0A0A;
}

h2{
    color:  #82CD47; 
}
h1
{
    color:  #1183ca;
}
.canvas
{
    background-color:whitesmoke;
    border-radius: 5px;
    width: 320px;
    height: 200px;
    text-align: center;
    margin-top: 15px;
    margin-left: 35px;
}
.slide
{
    font-family: 'Montserrat';
    font-weight: bold;
    background-color: #A6BB8D;
    
}
.submit
{
    margin-left: 455px;
    background-color: #AA8B56;
    font-family: 'Montserrat';
   
    width: fit-content;
    border-radius: 0;
    font-size: 15px;
}
.submit:hover
{
    background-color: #D6CDA4;
    color: black;
}
.data-upload
{
    height: fit-content;
}
.navbar {
    width: 270px;
    height: 100vh;
    position: fixed;
    margin-left: -300px;
    background-color: rgb(26, 25, 25);
    transition: 0.4s;
}

.nav-link {
    font-size: 1.25em;
}


.tab
{
    margin-left: 200px;
    height:fit-content;
}
.hide
{
border-radius: 0;
margin-right:100px ;
background: transparent;
color: white;
}
.hide:hover
{
background: transparent;
}
.my-container {
    transition: 0.4s;
}
.xmark
{
    margin-left: 700px;
}

/* for navbar */

.active-nav {
    margin-left: 0;
}


/* for main section */

.active-cont {
    margin-left: 250px;
}

.click
{
    margin-left:1050px ;
    background-color: transparent;
    border: none;
    margin-top: 25px;
    font-family: 'Montserrat';
}
.click:hover
{
    background-color: transparent;
}
h6
{
    margin-bottom: 5px;
    margin-left: 400px;
    margin-top: 470px;
}
.btn-bg-transparent
{
  
    background-color: transparent;
    border-radius: none;
    /* border: 2px solid #A6BB8D; */
    width: 270px;
    padding-bottom: 30px;
    font-family: 'Montserrat';
    font-size: 15px;
    transition: ease-out;
}
.btn-bg-transparent:hover
{
    border-radius: 0;
    background: #949b79;
   
}
.sidebardiv
{
    margin-top: 30px;
   
}
.btnnotif{
    background-color: black;
    width: 60px;
    height: 50px;
}
.btnnotif:hover{
    background-color: #949b79;
}
.btnuser{
    background-color: transparent;
    width: 60px;
    height: 50px;
}
.btnuser:hover{
    background-color: #949b79;
}
.btclose
{
    background-color: transparent;
    width: 200px;
    margin-top: -50px;
    border-radius: 0;
    margin-left:150px;
}
.btclose:hover
{
    background-color: transparent;
}
.userhide
{
    background-color: #557153;
    width: 20px;
}
h1
{
    font-size: 30px;
    font-family: 'Montserrat';
}
.freeslots
{
    font-family: 'Montserrat';
    font-size: 15px;
    
    border-radius: 5px;
    width: 220px;
    height: 80px;
    text-align: center;
  
    margin-left: 1000px;
    color: black;
}
.zx
{
    margin-top: 15px;
    margin-left: 200px;
    font-family: 'Montserrat';
    font-size: 25px;
}
.notif
{
    margin-left: 1100px;
    width: fit-content;
    background-color: #A6BB8D;
    border-radius: none;
    border: 2px solid #A6BB8D;
  margin-right: 0px;
    font-family: 'Montserrat';
    font-size: 13px;

}
.notif:hover
{

    background-color: silver;
}
.notifclose
{
    margin-left: 1080px;
    width: 7%;
    background-color: #A6BB8D;
    border-radius: 0;
    border: 2px solid;
    margin-right: 0px;
    font-family: 'Montserrat';
    border: 2px solid #A6BB8D;
    font-size: 13px;

}
.notifclose:hover
{
   
    background-color: silver;
    


}
.notif:hover{
    background-color: transparent;
}