@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");

.gbbg
{
    background-color:#f8f7f2;
    height: 100%;
}
.popheader{
    font-size:18px;
    font-family: "Montserrat";
    font-weight: bold;
}
.dayDiv{
    margin-left: 400px;
    align-items: center;
    font-size: 25px;
    width: 400px;
    height: 180px;
    font-family: "Montserrat";
    background-color: #979c90;
   
    
    box-shadow: 5px 5px 10px #e1e1e1;
    background: linear-gradient(to left, #979c90 50%, #f8f7f2 50%);
    background-size: 200%;
    background-position: right;
    transition: background-position 0.5s ease-out;
    
}
.dayDiv:hover {
    background-position: left;
  }
.gbpopover{
    font-size: 15px;
    width: 200px;
    height: 150px;
    font-family: "Montserrat";
    background-color: #979c90;
    /* border-radius: 50px; */
}
#mondayHolder
{
    
    margin-top: 15px;
    color: black;
    font-size: 100px;
    
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 150px;
    padding-top: 20px;
    height: 120px;
    
}
#tuesdayHolder
{
    padding-top: 15px;
    margin-top: 15px;
    color: black;
    font-size: 100px;
    margin-left: 20px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 150px;
    padding-top: 35px;
    height: 120px;
   
}
#wednesdayHolder
{
    
    margin-top: 15px;
    color: black;
    font-size: 100px;
    margin-left: 20px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 150px;
    padding-top: 20px;
    height: 120px;
}
#thursdayHolder
{
    padding-top: 35px;
    margin-top: 15px;
    color: black;
    font-size: 100px;
    margin-left: 20px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 150px;
    padding-top: 20px;
    height: 120px;
}
#fridayHolder
{
    padding-top: 30px;
    margin-top: 15px;
    color: black;
    font-size: 100px;
    margin-left: 20px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 150px;
    padding-top: 35px;
    height: 120px;
}


.gbpopover strong{
    color: black;
}
.welcome h2{
    padding-top: 30px;
    margin-left: 20px;
    font-size: 35px;
    font-family: "Montserrat";
    color: #676b57;
}
.hidden
{
    display: none;
}
.togo-group{
    border-color: black;
    border-width: 1px;
}
.togo
{
    background-color: rgba(56, 54, 54, 0.651);
    border-radius: 0;
    font-family: "Montserrat";
    height: 50px;
    font-size: 13px;
   width: 120px;
}
.togo:hover
{
    background-color: #557153;
}
.h2
{
    font-size: large;
}
.none
{
    background-color: #A6BB8D;
    font-family: "Montserrat";
    border-radius:0 ;
    font-size: 13px;
}
.none:hover
{
    background-color:  #c00e0e;
}


.duty-table td{
    height: 7px;
    width: 20px;
    font-size: 15px;
    border-color: black;
    border-width: 1px;
}
.canvas
{
    background-color:#f8f7f2;
    border-radius: 5px;
    width: 320px;
    height: 200px;
    text-align: center;
    margin-top: 15px;
    margin-left: 35px;
}
.slide
{
    font-family: 'Montserrat';
    font-weight: bold;
    background-color: #A6BB8D;
    
}
.submit-form
{
      background-color: rgb(32, 32, 32);
      font-family: 'Roboto';
     
      width: fit-content;
      border-radius: 20px;
      font-size: 15px;
    margin-left: 355px;
}
.submit-form:hover
{
    background-color: #67705c;
}
.data-upload
{
    height: fit-content;
}
.navbar {
    width: 270px;
    height: 100vh;
    position: fixed;
    margin-left: -300px;
    background-color: rgb(26, 25, 25);
    transition: 0.4s;
}

.nav-link {
    font-size: 1.25em;
}


.tab
{
    margin-left: 200px;
    height:fit-content;
}
.hide
{
border-radius: 0;
margin-right:100px ;
background: transparent;
color: white;
}
.hide:hover
{
background: transparent;
}
.my-container {
    transition: 0.4s;
}
.xmark
{
    margin-top: 50px;
    margin-left: 700px;
}

/* for navbar */

.active-nav {
    margin-left: 0;
}


/* for main section */

.active-cont {
    margin-left: 250px;
}

.click
{
    margin-left:1050px ;
    background-color: transparent;
    border: none;
    margin-top: 25px;
    font-family: 'Montserrat';
}
.click:hover
{
    background-color: transparent;
}
h6
{
    margin-bottom: 5px;
    margin-left: 400px;
    margin-top: 470px;
}
.btn-bg-transparent
{
  
    background-color: transparent;
    border-radius: none;
    /* border: 2px solid #A6BB8D; */
    width: 300px;
    padding-bottom: 30px;
    font-family: 'Montserrat';
    font-size: 15px;
    transition: ease-out;
}
.btn-bg-transparent:hover
{
    border-radius: 0;
    background: #949b79;
   
}

.btnnotif{
    background-color: black;
    width: 60px;
    height: 50px;
}
.btnnotif:hover{
    background-color: #949b79;
}
.btnuser{
    background-color: transparent;
    width: 60px;
    height: 50px;
}
.btnuser:hover{
    background-color: #949b79;
}
.btclose
{
    background-color: transparent;
    width: 200px;
    margin-top: -50px;
    border-radius: 0;
    margin-left:150px;
}
.btclose:hover
{
    background-color: transparent;
}
.userhide
{
    background-color: #557153;
    width: 20px;
}
h1
{
    font-size: 30px;
    font-family: 'Montserrat';
}
.freeslots
{
    font-family: 'Montserrat';
    font-size: 15px;
    
    border-radius: 5px;
    width: 220px;
    height: 80px;
    text-align: center;
  
    margin-left: 1000px;
    color: black;
}

.notif
{
    margin-left: 1100px;
    width: fit-content;
    background-color: #A6BB8D;
    border-radius: none;
    border: 2px solid #A6BB8D;
  margin-right: 0px;
    font-family: 'Montserrat';
    font-size: 13px;

}
.notif:hover
{

    background-color: silver;
}
.notifclose
{
    margin-left: 1080px;
    width: 7%;
    background-color: #A6BB8D;
    border-radius: 0;
    border: 2px solid;
    margin-right: 0px;
    font-family: 'Montserrat';
    border: 2px solid #A6BB8D;
    font-size: 13px;

}
.notifclose:hover
{
   
    background-color: silver;
    


}
.notif:hover{
    background-color: transparent;
}

  #editProfile
{
    margin-left: 180px;
    margin-top: 50px;
    display: none;
}
#editProfile h2{
    margin-left: -630px;
    margin-bottom: 40px;
}

.editpass
  {
   
      margin-left: 70px;
      background-color: rgb(32, 32, 32);
      font-family: 'Roboto';
     
      width: fit-content;
      border-radius: 20px;
      font-size: 15px;
  } 
  .editpass:hover{
    background-color: #A6BB8D;
  }
.oldpass{
    margin-bottom: 20px;
    font-family: 'Roboto';
    font-size: 15px;
}
.pass{
    margin-bottom: 20px;
    font-family: 'Roboto';
    font-size: 15px;
}
.repass{
    margin-bottom: 20px;
    font-family: 'Roboto';
    font-size: 15px;
}
/* AVAILABLE SLOTS TABLE START */
.slots-h2{
    margin-left: -300px;
    margin-top: 60px;
}
.duty-table{
    margin-left: -220px;
    margin-top: 20px;
}
/* AVAILABLE SLOTS TABLE END */
/* CURRENT SLOTS TABLE START */
.currentslotdiv{
    margin-left: -380px;
    margin-top: 20px;
}
.zx
{
    margin-top: 15px;
    margin-left: 400px;
    font-family: 'Montserrat';
    font-size: 20px;
    padding-bottom: 10px;
}
.myslotsclass{
    font-size: 12px;
}
.slotname{
    font-weight: bold;
    font-size: 18px;
}
/* CURRENT SLOTS TABLE END */