

.bg
{
    background-color:#f8f7f2;
    height: 100%;
}
.hidden
{
    display: none;
}
.togo
{
    background-color: #A6BB8D;
    border-radius: 0;
   width: 20%;
}
.togo:hover
{
    background-color: #557153;
}
.none
{
    background-color: #A6BB8D;
    border-radius:0 ;
}
.none:hover
{
    background-color:  #CF0A0A;
}

h2{
    color:  #82CD47; 
}
h1
{
    color:  #1183ca;
}
.canvas
{
    background-color:whitesmoke;
    border-radius: 5px;
    width: 320px;
    height: 200px;
    text-align: center;
    margin-top: 15px;
    margin-left: 35px;
}
.slide
{
    font-family: 'Roboto';
    font-weight: bold;
    background-color: #A6BB8D;
    
}
.submit
{
    margin-left: 455px;
    background-color: #AA8B56;
    font-family: 'Roboto';
   
    width: fit-content;
    border-radius: 0;
    font-size: 15px;
}
.submit:hover
{
    background-color: #D6CDA4;
    color: black;
}
.data-upload
{
    height: fit-content;
}
.navbar {
    width: 170px;
    height: 100vh;
    position: fixed;
    margin-left: -300px;
    background-color: #A6BB8D;
    transition: 0.4s;
}

.nav-link {
    font-size: 1.25em;
}


.tab
{
    margin-left: 200px;
    height:fit-content;
}
.hide
{
border-radius: 0;
margin-right:100px ;
background: transparent;
color: white;
}
.hide:hover
{
background: transparent;
}
.my-container {
    transition: 0.4s;
}
.xmark
{
    margin-left: 700px;
}

/* for navbar */

.active-nav {
    margin-left: 0;
}


/* for main section */

.active-cont {
    margin-left: 250px;
}

.click
{
    margin-left:1050px ;
    background-color: transparent;
    border: none;
    margin-top: 25px;
    font-family: 'Roboto';
}
.click:hover
{
    background-color: transparent;
}
h6
{
    margin-bottom: 5px;
    margin-left: 400px;
    margin-top: 470px;
}
.btn-bg-transparent
{
  
    background-color: transparent;
    border-radius: none;
    border: 2px solid #A6BB8D;
   width: 150px;
    font-family: 'Roboto';
    font-size: 13px;
}
.btn-bg-transparent:hover
{
    border-radius: 0;
    background: silver;
   
}
.sidebardiv
{
    margin-top: 100px;
   
}

.btclose
{
    background-color: transparent;
    margin-top: 0;
    border-radius: 0;
  
    margin-right:0 ;
}
.btclose:hover
{
    background-color: transparent;
}
.userhide
{
    background-color: #557153;
    width: 20px;
}