#editProfile
{
background-color: rgb(36, 35, 35);
margin-top: 60px;
margin-left:280px;
border-radius: 5%;
width: 400px;
-webkit-box-shadow: -1px 1px 3px 5px rgba(250, 250, 250, 0.75);
-moz-box-shadow: -1px 1px 3px 5px rgba(250, 250, 250, 0.75);
box-shadow: -1px 1px 3px 5px rgba(250, 250, 250, 0.75);
}
.student-flex2{
    /* background-color: rebeccapurple; */
    width: 100%;
    display: flex;
    flex-direction: column;
    position: sticky;
}
.studentmain{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #f8f7f2;
}
.student-slider{
    width: 800px;
    height: 400px;
    /* padding-left: 40px; */
    /* background-color: red; */
}

.student-container{
    height: 500px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    align-items: center;
    justify-content: space-evenly;
}
.student-container h2{
    font-family: "Ubuntu";
    font-weight: bold;
    font-size: 30px;
}
.student-container p{
    font-size: 20px;
}