#inventorytable
{
    width:70%;
    color: whitesmoke;
    background-color: #4393c3;
}
table a:link, a:visited { text-decoration: none; }

table a:hover, a:active { text-decoration: underline; }

table, th, td { border: 1px solid black; }
table, th, tr { border: 1px solid black; }
td, th {
    /* padding: 5px; */
    text-align: center;
    height: 20px;
  }
th {
background-color: #4393c3;
color: #d9f0a3;
}

td { background-color: #92c5de; }

tr { background-color: #92c5de; }

tr:hover td { background-color: #edf8b1; }
tr:hover tr { background-color: #edf8b1; }

table {
    border: 1px solid #666;
    table-layout: fixed;
    width: 200px;
    margin: 0 auto;
    margin-top:30px
}
th,
td {
    border: 1px solid #666;
    width: 90px;
    overflow: hidden;
}
#editabletable
{


margin-left: 200px;
margin-top: 120px;
justify-content: center;
align-items: center;
color: aliceblue;
background-color:rgb(36, 35, 35);
border-radius: 5px;
width: 650px;
border-radius: 10%;
height: fit-content;
-webkit-box-shadow: -1px 1px 3px 5px rgba(250, 250, 250, 0.75);
-moz-box-shadow: -1px 1px 3px 5px rgba(250, 250, 250, 0.75);
box-shadow: -1px 1px 3px 5px rgba(250, 250, 250, 0.75);
}
h6
{
    margin-bottom: 0;
}
.currentstatusinven
{
    margin-left: 220px;
    margin-top: 20px;
    font-size: large;
    font-weight: bold;
}
#photo-card-container2
{
    margin-top: 30px;
    margin-left: 30px;
    font-size: small;
    color:#edf8b1;
    font-family:fantasy;
    margin-bottom: 30px;
}

.edtpasheading
{
    color: #ECF2FF;
    margin-left: 200px;
}

.subInven
{
    background-color: #000;
  border-radius: 15px;
  width: fit-content;
  margin-left: 280px;
  font-size: large;
  height: fit-content;
}
.subInven:hover
{
    background-color:#d9f0a3;
    color: #000;
}

.card {
    width: 350px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
}

.image img {
    border-radius: 50%;
    transition: all 0.5s
}

.card:hover .image img {
    transform: scale(1.5)
}

.btn {
    height: 140px;
    width: 140px;
    border-radius: 50%
}

.name {
    font-size: 22px;
    font-weight: bold
}
#editImageimg
{
    background-color: transparent;
}
.btn1 {
    height: 40px;
    width: 150px;
    border: none;
    background-color: transparent;
    color: transparent;
    font-size: 15px
}

#editProfile
{
background-color: rgb(36, 35, 35);
margin-top: 60px;
margin-left:280px;
border-radius: 5%;
width: 400px;
-webkit-box-shadow: -1px 1px 3px 5px rgba(250, 250, 250, 0.75);
-moz-box-shadow: -1px 1px 3px 5px rgba(250, 250, 250, 0.75);
box-shadow: -1px 1px 3px 5px rgba(250, 250, 250, 0.75);
}


/* CSS */
.button-56 {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}
