.Mentorhomepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width: 50vw;
    height: 50vh;
    border-radius: 20px;
    box-shadow: 0 0 15px 5px grey;
    background:#addd;
    position: relative;
    margin-left: 370px;
    margin-top: 70px;

}

.Mentorhomepage > .button {
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px;
    width: 150px;
    background-color:#389bd9;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.button:hover
{
    background-color:  #0ba6ff;
}