
@media (min-width: 500px) and (max-width: 750px), (min-width: 992px) {
    .w-lg-100 {
    width: 100% !important; 
    } 
}
.homeCanvas{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-color: coral;
    padding-top: 4vmax;
    border-radius: 0 0 200px 200px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:stretch;
}

.homeContainer{
    
    /* width: 100vw;
    height: 100vh;
    max-width: 100%; */
    background-color: #ADDDD0;
    /* background-image: url(../../assets/convo1.png); */
    /* padding-top: 4vmax; */
    /* border-radius: 0 0 200px 200px;
    border-bottom: 200px solid #ADDDD0; */
    /* position: relative;
    z-index: 1; */
    }
    .signupdiv{
        text-align: center;
        size: 70px;
        color: coral;
    }
    .signupdiv h1{
        color: rgb(250, 247, 247);
        align-items: center;
        font-weight: bold;
        font-size: 80px;
        padding-left: 60px;
    }
    .signupdiv h4{
        color: rgb(250, 247, 247);
        align-items: center;
        font-weight: bold;
        font-size: 40px;
    }
    .container3{
        max-width: 100%;
        height: 610px;
        background-image: url(../../assets/greycover.png);
        background-color: rgba(0, 0, 0, 0.747);
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: space-evenly;
        flex-direction:row;
    }
    .container2{
        /* transform: translateY(-200px); */
        background-color: #87A2FB;
/*         
        width: 100vw;
        height: 100vh;
        max-width: 100%;
        position: relative; */
        /* margin-bottom: -200px; */
        /* padding: 200px;
        box-sizing: border-box;
        perspective: 450px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center; */
        
        }
    
.loginHome {
    width: 500px;
    background:  white;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 38px;
    padding: 1rem;
    align-items: center;
    text-align: center;
    margin: auto;
    height: 610px;
    padding: 10px;
    margin-top: 2px;
    margin-bottom: 5px;
}

input
{
  height: 40px;
  width: 270px;
  margin: 0 auto;
  background: transparent;
  border-radius: 12px ;


}
label
{
  align-items: left;
  margin-left: 2px;
}
.homeimg
{
  height: 200px;
  width: 200px;
}
button
{
  
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30px;
  width: 260px;
  background-color: #0ba6ff;
  font-weight: bold;
  

}
button:hover
{
  background-color: #af91d4;
}
h3
{
  font-family: 'Times New Roman', Times, serif;
}