.bg
{
  background-image: url('https://www.facebook.com/photo/?fbid=505244734976857&set=a.505249101643087');
}
.register {
  width: 400px;
  background:  #adddd0;
  border: 1px solid #dddfe2;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  border-radius: 38px;
  padding: 1rem;
  align-items: center;
  text-align: center;
  margin: auto;
  height: 650px;
  padding: 10px;
  margin-top: 30px;
}
input
{
  height: 40px;
  width: 200px;
  margin: 0 auto;
  background: transparent;
  border-radius: 12px ;

}
label
{
  align-items: left;
  margin-left: 2px;
}
img
{
  height: 120px;
  width: 120px;
}
button
{
  
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30px;
  width: 250px;
  background-color: #389bd9;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;

}
button:hover
{
  background-color: #0ba6ff;
}
h3
{
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}