
.login {
    width: 400px;
    background:  #adddd0;
    border: 1px solid #dddfe2;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 8px;
    padding: 1rem;
    align-items: center;
    text-align: center;
}

input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background: #adddd0;
    
}
.login
  {
    color:#0077B6;
   
  }
  .btn-btn-info
  {
    background-color: #0077B6;
    border-radius: 5px;
    border:none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    color:#adddd0;
    font-weight: bold;
    

  }
  .btn-btn-info:hover
  {
    background-color: #6f38c5
  }
  input::placeholder {
    color: #0077B6;
    opacity: 1;
  }
input:focus
{
    background: #adddd0;
}
